.inputbox {
    position: absolute;
   height: 30px;
  display: flex;
  left: 30%;
  gap: 8px;



}


h1{
    color: brown;
    position: relative;
    left: 42%;  
}
.buttonbox{
    position: absolute;
    height: 30px;
    display: flex;
    left: 40%;
    gap: 6px;
    margin-top: 45px;
  
}
.buttonReset{
    border-radius: 8px;
    background-color: red;
}

.buttonplus{
    border-radius: 8px;
background-color: chartreuse;
}

.buttonminus{
    background-color: chartreuse;  
    border-radius: 8px;
}

input{
    border-radius: 10px;
   
}